* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  font-family: 'Sen', sans-serif;
  font-family: 'Space Mono', monospace;
  color: black;
  background-image: white;
  background-size: cover; }

.header, .contenedorIndex .header, .contenedorAbout .header, .contenedorPhotos .header, .contenedorContact .header {
  background-color: rgba(210, 202, 209, 0.196);
  width: 100%;
  margin: 2rem auto 0rem auto;
  padding: auto;
  height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header; }
  .header .nombre {
    margin-left: 2.5rem;
    font-size: 2rem;
    font-weight: 500; }
    .header .nombre a {
      text-decoration: none;
      display: inline-block;
      color: black; }
      .header .nombre a:hover {
        color: hwb(240 44% 44%);
        font-weight: bold; }
  .header nav .menu {
    list-style-type: none;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; }
    .header nav .menu li {
      display: inline-block;
      margin: 1rem;
      font-size: 1.5rem; }
      .header nav .menu li a {
        text-decoration: none;
        display: inline-block;
        color: black; }
        .header nav .menu li a:hover {
          color: hwb(240 44% 44%);
          font-weight: bold; }

.contenedorIndex {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "header header header" "galeriaIndex galeriaIndex galeriaIndex" "footer footer footer"; }
  .contenedorIndex main .intro {
    display: flex;
    width: 58%;
    margin: 1rem auto 0.5rem auto;
    text-align: center;
    justify-content: center;
    align-items: center; }
  .contenedorIndex main .galeriaIndex {
    grid-area: galeriaIndex;
    margin-top: 20px;
    width: 90%;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; }
    .contenedorIndex main .galeriaIndex img {
      margin: 3px;
      transition: height 1.1s, width 1.1s; }
      .contenedorIndex main .galeriaIndex img:hover {
        width: 480px; }
    @media screen and (max-width: 768px) {
      .contenedorIndex main .galeriaIndex img {
        transition: none; }
        .contenedorIndex main .galeriaIndex img:hover {
          width: 100%; } }

footer, .contenedorPhotos footer {
  grid-area: footer;
  text-align: center;
  margin: 15px; }
  footer a, .contenedorPhotos footer a {
    margin: 15px;
    font-size: 0.9rem;
    color: black;
    text-decoration: none; }
    footer a:hover {
      font-weight: bold;
      color: black; }

.bodyAbout {
  font-family: 'Sen', sans-serif;
  font-family: 'Space Mono', monospace;
  color: black;
  background-image: url(./Fotos/Uruguay-puertoColonia.jpg);
  background-size: cover; }

.contenedorAbout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr;
  grid-template-areas: "header header header" "mainAbout mainAbout none"; }
  .contenedorAbout .mainAbout {
    grid-area: mainAbout;
    display: flex;
    justify-content: center; }
    .contenedorAbout .mainAbout div {
      justify-content: end; }
      .contenedorAbout .mainAbout div p {
        padding: 2rem;
        width: 500px;
        text-align: center; }

.gal .pais, .contenedorPhotos .galeriaPhotos .galUru .pais, .contenedorPhotos .galeriaPhotos .galArg .pais, .contenedorPhotos .galeriaPhotos .galEEUU .pais, .contenedorPhotos .galeriaPhotos .galAle .pais, .contenedorPhotos .galeriaPhotos .galHol .pais {
  text-align: center;
  font-size: 1.3rem;
  margin: 1rem; }

.gal .fotos, .contenedorPhotos .galeriaPhotos .galUru .fotos, .contenedorPhotos .galeriaPhotos .galArg .fotos, .contenedorPhotos .galeriaPhotos .galEEUU .fotos, .contenedorPhotos .galeriaPhotos .galAle .fotos, .contenedorPhotos .galeriaPhotos .galHol .fotos {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .gal .fotos img, .contenedorPhotos .galeriaPhotos .galUru .fotos img, .contenedorPhotos .galeriaPhotos .galArg .fotos img, .contenedorPhotos .galeriaPhotos .galEEUU .fotos img, .contenedorPhotos .galeriaPhotos .galAle .fotos img, .contenedorPhotos .galeriaPhotos .galHol .fotos img {
    margin: 2.5px; }

.bodyPhotos {
  font-family: 'Sen', sans-serif;
  font-family: 'Space Mono', monospace;
  color: black;
  background-image: white;
  background-size: cover; }

.contenedorPhotos {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr auto auto;
  grid-template-areas: "header header header" "galeriaPhotos galeriaPhotos galeriaPhotos" "footer footer footer"; }
  .contenedorPhotos .galeriaPhotos {
    grid-area: galeriaPhotos;
    padding: 0%; }
    .contenedorPhotos .galeriaPhotos .galAle div {
      display: flex;
      flex-direction: column; }
    .contenedorPhotos .galeriaPhotos .galHol div {
      display: flex;
      flex-direction: column; }

.bodyContact {
  font-family: 'Sen', sans-serif;
  font-family: 'Space Mono', monospace;
  color: black;
  background-image: url(./Fotos/Uruguay-cielo.jpg);
  background-size: cover; }

.contenedorContact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr;
  grid-template-areas: "header header header" "mainContact mainContact mainContact"; }
  .contenedorContact .mainContact {
    grid-area: mainContact;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .contenedorContact .mainContact div {
      margin-top: 1.5rem; }
      .contenedorContact .mainContact div h3 {
        margin: 0.5rem; }
      .contenedorContact .mainContact div .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        width: 350px;
        height: 440px;
        padding: 1.3rem;
        border-style: solid;
        border-radius: 5%;
        border-color: #eff195; }
        .contenedorContact .mainContact div .formulario div {
          width: 100%;
          margin: 2px; }
          .contenedorContact .mainContact div .formulario div input {
            width: 100%; }
          .contenedorContact .mainContact div .formulario div textarea {
            width: 100%; }
    .contenedorContact .mainContact .redes {
      display: flex;
      align-items: center; }
      .contenedorContact .mainContact .redes ul li {
        margin: 1.5rem 1.5rem;
        list-style: none; }
        .contenedorContact .mainContact .redes ul li img {
          margin-right: 0.5rem; }
        .contenedorContact .mainContact .redes ul li a {
          text-decoration: none;
          color: black; }
          .contenedorContact .mainContact .redes ul li a:hover {
            color: hwb(240 44% 44%);
            font-weight: bold; }

@media screen and (max-width: 768px) {
  .header, .contenedorIndex .header, .contenedorAbout .header, .contenedorPhotos .header, .contenedorContact .header, .contenedorIndex .header, .contenedorAbout .header, .contenedorPhotos .header, .contenedorContact .header {
    margin-top: 10px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; }
  .header nav .menu {
    display: flex;
    justify-content: center; }
  .contenedorIndex {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "galeriaIndex" "footer"; }
  .contenedorIndex main .galeriaIndex {
    width: 100%;
    padding: 3px; }
  .contenedorIndex main .galeriaIndex img {
    transition: none;
    width: 100%; }
    .contenedorIndex main .galeriaIndex img:hover {
      width: 100%; }
  .bodyContact .contenedorContact {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "header" "mainContact";
    background-attachment: fixed; }
  .bodyContact .contenedorContact .mainContact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.3rem; }
  .bodyContact .contenedorContact .mainContact div .h3 {
    text-align: center;
    font-size: 1.2rem; }
  .bodyContact .contenedorContact .mainContact div .formulario {
    width: 350px; }
  .bodyContact .contenedorContact .mainContact div .formulario textarea {
    width: 303px; }
  .bodyContact .contenedorContact .mainContact .redes {
    margin: 1rem 0.5rem 1rem 0.5rem; }
  .bodyContact .contenedorContact .mainContact .redes .redes ul {
    display: flex;
    align-items: center; }
  .bodyContact .contenedorContact .mainContact .redes ul li img {
    width: 40px;
    margin-right: 3px; }
  .bodyAbout .contenedorAbout {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "header" "mainAbout"; }
  .bodyAbout .contenedorAbout .mainAbout p {
    padding: 1.6rem;
    justify-content: center;
    width: auto; }
  .bodyPhotos .contenedorPhotos {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: "header" "galeriaPhotos" "footer"; }
  .bodyPhotos .contenedorPhotos .galeriaPhotos {
    padding: 3px; }
  .bodyPhotos .contenedorPhotos .galeriaPhotos img {
    width: 100%; } }
