$colorletrahover: hwb(240 44% 44%);
$fondoIndexPhoto: white;
$fondoAbout: url(./Fotos/Uruguay-puertoColonia.jpg);
$fondoContact: url(./Fotos/Uruguay-cielo.jpg);

*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
@mixin fondos ($fondo){
    font-family: 'Sen', sans-serif;
    font-family: 'Space Mono', monospace;
    color: black;
    background-image: $fondo;
    background-size: cover;
}
body{
    @include fondos ($fondoIndexPhoto);
}

.header{
    background-color: rgba(210, 202, 209, 0.196);
    width: 100%;
    margin: 2rem auto 0rem auto;
    padding: auto;
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    .nombre{
        margin-left: 2.5rem;
        font-size: 2rem;
        font-weight: 500;
        a{
            text-decoration: none;
            display: inline-block;
            color: black;
            &:hover{
                color: $colorletrahover;
                font-weight: bold;
            }
        }
    }
    nav{
        .menu{
            list-style-type: none;
            display: inline-block;
            align-items: center;
            li{
                display: inline-block;
                margin: 1rem;
                font-size: 1.5rem;
                a{
                    text-decoration: none;
                    display: inline-block;
                    color: black;
                    &:hover{
                        color:$colorletrahover;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
.contenedorIndex{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(3, 1fr) ;
    grid-template-areas: 
    "header header header"
    "galeriaIndex galeriaIndex galeriaIndex"
    "footer footer footer";
    .header{
        @extend .header;
    }
    main{
        .intro{
            display: flex;
            width: 58%;
            margin: 1rem auto 0.5rem auto;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        .galeriaIndex{
            grid-area: galeriaIndex;
            margin-top: 20px;
            width: 90%;
            margin: auto;
            padding: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            img{
                margin: 0px 0px 4px 4px;
                transition: height 1.1s, width 1.1s;
                &:hover{
                    width: 480px;
                }
            }
        }
    }
}
footer{
    grid-area: footer;
    text-align: center;
    margin: 15px;
    a{
        margin: 15px;
        font-size: 0.9rem;
        color: black;
        text-decoration: none;
        &:hover{
            font-weight: bold;
            color: black
        }
    }
}

.bodyAbout{
    @include fondos ($fondoAbout);
}
.contenedorAbout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
    "header header header"
    "mainAbout mainAbout none";  
    .header{
        @extend .header;
    }
    .mainAbout{
        grid-area: mainAbout;
        display: flex;
        justify-content: center;
        div{
            justify-content: end;
            p{
                padding: 2rem;
                width: 500px;
                text-align: center;
            }
        }
    }
}

.gal{
    .pais{
        text-align: center;
        font-size: 1.3rem;
        margin: 1rem;
    }
    .fotos{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        img{
            margin: 5px;
            transition: height 1.1s, width 1.1s;
            &:hover{
                width: 580px;
            }
        }
    }
}
.bodyPhotos{
    @include fondos ($fondoIndexPhoto);
}
.contenedorPhotos{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr auto auto;
    grid-template-areas: 
    "header header header"
    "galeriaPhotos galeriaPhotos galeriaPhotos"
    "footer footer footer";
    .header{
        @extend .header;
    }
    .galeriaPhotos{
        grid-area: galeriaPhotos;
        padding: 0%;
        .galUru{
            @extend .gal;
        }
        .galArg{
            @extend .gal;
        }
        .galEEUU{
            @extend .gal;
        }
        .galAle{
            @extend .gal;
            div{
                display: flex;
                flex-direction: column;
            }
        }
        .galHol{
            @extend .gal;
            div{
                display: flex;
                flex-direction: column;
            }
        }
    }
    footer{
        @extend footer;
    }
}

.bodyContact{
    @include fondos ($fondoContact);
}
.contenedorContact{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
    "header header header"
    "mainContact mainContact mainContact";
    .header{
        @extend .header;
    }
    .mainContact{
        grid-area: mainContact;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        div{
            margin-top: 1.5rem;
            h3{
                margin: 0.5rem;
            }
            .formulario{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1rem;
                width: 350px;
                height: 440px;
                padding: 1.3rem ;
                border-style: solid;
                border-radius: 5%;
                border-color: rgb(239, 241, 149);
                div{
                    width: 100%;
                    margin: 2px ;
                    input{
                        width: 100%;
                    }
                }
            }
        }
        .redes{
            display: flex;
            align-items: center;
            ul{
                li{
                    margin: 1.5rem 1.5rem;
                    list-style: none;
                    img{
                        margin-right: 0.5rem;
                    }
                    a{
                        text-decoration: none;
                            color: black;
                            &:hover{
                            color: $colorletrahover;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
